.side-menu {
  position: fixed;
  height: 80vh;
  top: 75px;
  //margin-top: 2px;
  padding-top: 2px;
  width: 175px;
  background-color: white;
}

.management-area {
  position: absolute;
  top: 4rem;
  left: 200px;
  right: 0;
}

.flex-container {
  margin: 10px 15px 10px 10px;
}

table.table {
  width: 100%;
}

.card .paging {
  text-shadow: 1px 1px 9px gray;
  margin:15px 20px;
}

.nav.has-shadow {
  position: fixed;
  top: 0;
  background-color: lightgray;
  width: 1920px;
  max-width:100%;
}