/*************************************************************
**********************  Text  Overrides  *********************
**************************************************************/

html {
  overflow-y: auto;
  //background-color: transparent;
}

.is-muted {
  color: $grey-light;
}
a.is-muted:hover {
  color: $grey;
}
label.label {
  color: #676767;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.925em;
}

h1.title {
  color: rgba(78, 78, 78, 0.8);
  font-family: monospace;
}

.noting {
  margin-top: 12px;
}

.navbar-item.is-paddingless:hover {
  background-color: transparent;
  width: 94%;
  margin-left:3px;
  margin-right: -3px;
}

.navbar-item.has-dropdown:hover > .navbar-link{
  background-color: transparent!important;
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}

/*************************************************************
********************  DropDown  Override  ********************
**************************************************************/

.navbar-item img {
  max-height: 3.15rem;
}

.navbar-item button,
button.navbar-item {
  background-color: transparent;
  border: none;
  color: $text-light;

  &:hover {
    color: $link-hover;
  }
  // Modifiers
  &.is-active {
    color: $link-active;
  }
  &.is-tab {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    padding: calc(0.75rem - 1px) 1rem;
  }
  &:hover {
    border-bottom-color: $primary;
    border-top-color: transparent
  }
  &.is-active {
    border-bottom: 3px solid $primary;
    color: $primary;
    padding-bottom: calc(0.75rem - 3px)

  }
}
.navbar {
  height: 4.6rem;
}
.navbar-item img {
  max-height: 3.7rem;
}

/***  Remove outline color from profile button - nenMas ***/
.navbar-item button.is-tab, button.navbar-item.is-tab:focus {
  outline: none;
}