.nav {
  background: transparent; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(51, 184, 255, 0.13) 10%, transparent); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(51, 184, 255, 0.13) 10%, transparent); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,rgba(51, 184, 255, 0.13) 10%, transparent); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(51, 184, 255, 0.13) 10%, transparent); /* Standard syntax */
}