.navbar {
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(15, 40, 36, 0.08) 10%, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(15, 40, 36, 0.08) 10%, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,rgba(15, 40, 36, 0.08) 10%, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,rgba(15, 40, 36, 0.08) 10%, white); /* Standard syntax */
}

.user-name {
  background-color: rgba(211, 211, 211, 0.42);
  padding: 5px;
  -webkit-transition: padding 2s;
  transition: padding 0.1s;
}

.user-name:hover {
  padding: 25px 5px
}

.pagination {
  margin-top: 0.5rem;
  padding: 0 20rem;
  background-color: rgba(0, 196, 199, 0.08);
  a {
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: larger;
  }
  .active {
    opacity: 0.6;
  }
}

pre {
  background-color: transparent;
}

.panel-heading {
  border-radius: 24px 3px 24px 3px;
  box-shadow: 0px 2px 4px grey;
}

#test-flash input{
  padding: 5px;
}

#test-flash button {
  position: absolute;
  margin-top: -25px;
  margin-left: 150px;
}

